<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}">
    <title>WMS</title>
   

    <!--Required to keep the desktop app running-->
   <script>
        async function getRequest(url='') {
            const response = await fetch(url, {
                method: 'GET', 
                cache: 'no-cache'
            })
            return response.json()
        }
        
        document.addEventListener('DOMContentLoaded', function() {

            let url = document.location
            let route = "/flaskwebgui-keep-server-alive"
            let interval_request = 3 * 1000 //sec

            function keep_alive_server(){
                getRequest(url + route)
                .then(data => console.log(data))
            }

            setInterval(keep_alive_server, interval_request)()

        })
    </script>
</head>

<body>
    {% block content %}{% endblock content %}
</body>

<div class="bg-modal">
    <div class="add-warehouse-content">

        <button class="close">+</button>

        <form method="POST" action="">
            {{form.hidden_tag()}}
            <fieldset>
                <div class="form">
                    {{form.name()}}
                    {% if form.name.errors %}
                        {% for error in form.name.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form">
                    {{form.capacity()}}
                    {% if form.capacity.errors %}
                        {% for error in form.capacity.errors %}
                            <p class="error">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="submit">
                    <img src="static/checkmark.svg" alt="Checkmark">
                    {{form.submit()}}
                </div>
            </fieldset>
        </form>
    </div>
</div>

<!--Flash messages-->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="success">
                {{ message }}
            </div>
        {% endfor %}

            <script>
                document.querySelector(".bg-modal").style.display = 'flex';
                document.querySelector(".add-warehouse-content").style.display = 'none';

                setTimeout(fade_out, 2000);

                function fade_out() {
                    document.querySelector(".bg-modal").style.display = 'none'
                    document.querySelector(".add-warehouse-content").style.display = 'block';
                    document.querySelector(".success").style.display = 'none';
                }
            </script>

    {% endif %}
{% endwith %}

<!---Script for the add warehouse popup-->
<script>
    document.getElementById("add-warehouse").addEventListener('click', function() {
        document.querySelector(".bg-modal").style.display = 'flex';
    });

    document.querySelector('.close').addEventListener('click', function() {
        document.querySelector(".bg-modal").style.display = "none";
    });
</script>

<!--Form stays open if there are errors-->
{% if not form.validate_on_submit() and form.is_submitted() %}
    <script>
        document.querySelector(".bg-modal").style.display = 'flex';
    </script>
{% endif %}


</html>