{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="static/home.css">

<div class="stats-card">
    <h1>$10M</h1>
    <p>Total possible revenue</p>

    <div class="main-stats">
        <h1>$5.8M</h1>
        <p>Total production cost</p>
        <h1>20,000,000u</h1>
        <p>Remaining capacity</p>
    </div>

    <div class="small-stats">
        <h1>14</h1>
        <p>Locations</p>

        <h1>154</h1>
        <p>Unique items</p>

        <h1>Toronto</h1>
        <p>Largest warehouse</p>
    </div>

    <div class="buttons">
        <button class="view-button">
            <p>View warehouses</p>
        </button>
        <button class="view-button">
            <p>View items</p>
        </button>
    </div>
</div>

<div class="warehouses-preview">
    <h1>Warehouses</h1>
    <div class="warehouse-carousel">

        <ul>
            <li>
                <div class="warehouse-card">
                    <h1>Ottawa</h1>
                    
                    <h2>$156,000</h2>
                    <p>Possible revenue</p>

                    <h2>2,000u</h2>
                    <p>Remaining capacity</p>

                    <h2>39</h2>
                    <p>Unique items</p>

                    <button class="edit-button">
                        <img src="static/edit-button.svg" alt="Edit button">
                    </button>
                </div>
            </li>

            <li>
                <div class="warehouse-card">
                    <h1>Toronto</h1>
                    
                    <h2>$300,000</h2>
                    <p>Possible revenue</p>

                    <h2>10,000u</h2>
                    <p>Remaining capacity</p>

                    <h2>64</h2>
                    <p>Unique items</p>

                    <button class="edit-button">
                        <img src="static/edit-button.svg" alt="Edit button">
                    </button>
                </div>
            </li>

            <li>
                <div class="warehouse-card">
                    <h1>Mississauga</h1>
                    
                    <h2>$72,000</h2>
                    <p>Possible revenue</p>

                    <h2>1,250u</h2>
                    <p>Remaining capacity</p>

                    <h2>33</h2>
                    <p>Unique items</p>

                    <button class="edit-button">
                        <img src="static/edit-button.svg" alt="Edit button">
                    </button>
                </div>
            </li>
        </ul>
    </div>

    <div class="add-button-section">
        <button class="add-button" id="add-warehouse">
            <img src="static/+.svg" alt="">
            <p>Add warehouse</p>
        </button>
        <button class="add-button" id="add-item">
            <img src="static/+.svg" alt="">
            <p>Add item</p>
        </button>
    </div>

</div>

{% endblock content %}
