{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="static/warehouses.css">

<div class="content">
    <div class="list">
        <ul>
            {% for warehouse in warehouses %}
            <li class="warehouse-card">
                <ul>
                    <li>
                        <h1>{{warehouse.name}}</h1>
                    </li>
                    <li>
                        <ul class="stats">
                            <li>
                                <h2>$156,000</h2>
                                <p>Possible revenue</p>
                            </li>
                            <li>
                                <h2>2000u</h2>
                                <p>Remaining capacity</p>
                            </li>
                            <li>
                                <h2>39</h2>
                                <p>Unique items</p>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <button class="edit-button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="27.181" height="28.436" viewBox="0 0 27.181 28.436">
                                <g id="Edit_Icon" data-name="Edit Icon" transform="translate(-218.658 -298.529)">
                                  <path id="Path_1" data-name="Path 1" d="M5.647,0h23.88V6.608H5.647S0,4.979,0,3.327,5.647,0,5.647,0Z" transform="translate(218.658 322.459) rotate(-47)" fill="#09b8db"/>
                                  <rect id="Rectangle_7" data-name="Rectangle 7" width="6.561" height="2.46" transform="translate(244.161 304.803) rotate(-137)" fill="#09b8db"/>
                                </g>
                              </svg>
                        </button>
                    </li>
                </ul>
            </li>
            {% endfor %}
            <li>
                <button class="add-warehouse" id="add-warehouse">
                    <img src="static/+.svg" alt="+ button">
                    <h1>Add Warehouse</h1>
                </button>
            </li>
        </ul>
    </div>
    
    <div class="warehouse-stats">
        <ul>
            <li>
                <a href="{{url_for('home')}}" class="home">
                    <img src="static/home.svg" alt="">
                </a>
            </li>
            <li>
                <h1>14</h1>
                <p>Warehouses</p>
            </li>
            <li>
                <h2>$10M</h2>
                <p>Possible revenue</p>
            </li>
        </ul>
    </div>
</div>

{% endblock content %}