// Colours
$deepBlue: #036B80;
$medBlue: #09B8DB;
$lightBlue: #CEEDF3;
$deepOrange: #F96A4E;
$lightOrange: #FAE0DB;

// Font import
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');

// Code

// Basic reset
body, html {
    margin: 0;
    padding: 0;
    background-color: $lightBlue;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a, button {
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

input {
    font-family: 'Montserrat', sans-serif;
}

img {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
}

// Success flash
.success {
    position: absolute;
    background-color: $deepOrange;
    color: $lightOrange;
    border-radius: 2em;
    font-size: 30px;
    padding: 20px;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// Add warehouse popup
.bg-modal {
    margin: -3em -2em;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    justify-content: center;
    align-items: center;
    display: none;  // Hidden by default

    // General form styling
    .form {
        margin-bottom: 2em;
        margin-right: 0;
        box-sizing: border-box;

        input {
            border: none;
            background-color: $deepBlue;
            font-size: 3em;
            border-radius: 2em;
            color: $lightBlue;
            width: 100%;
            color: $lightBlue;
            outline: none;
            padding: 20px;
            box-sizing: border-box;
            
            &::placeholder {
                color: $lightBlue;
            }
        }
    }

    .submit {

        background-color: $deepOrange;
        font-weight: 800;
        text-transform: uppercase;
        display: flex;
        border-radius: 3em;
        justify-content: center;
        padding: 10px 20px;
        width: fit-content;
        margin: 0 auto;
        
        &:hover {
            background-color: darken($deepOrange, 10%);
        }
        
        input {
            background-color: transparent;
            color: $lightOrange;
            border: none;
            font-size: 3em;
            text-transform: uppercase;
            font-weight: 800;
        }

    }

    .error {
        color: $deepOrange;
        margin: 0;
        margin-top: 10px;
        font-weight: 500;
    }

    // For pop-ups
    .popUp {
        width: 960px;
        height: 540px;
        background-color: $lightBlue;
        border-radius: 2em;
        text-align: center;
        position: relative;
        box-sizing: border-box;
        padding: 5em;

        .close {
            position: absolute;
            top: 20px;
            right: 20px;
            font-size: 50px;
            background-color: $deepOrange;
            border: none;
            transform: rotate(45deg);
            width: 60px;
            height: 60px;
            border-radius: 50%;
            justify-content: center;
            margin: 0;
            padding: 0;
            font-weight: 800;
            color: $lightOrange;

            &:hover {
                background-color: darken($deepOrange, 10%);
            }
        }

        form {
            margin: 0;
            border: none;
            justify-content: center;
            box-sizing: border-box;

            fieldset {
                border: none;
                margin: 0;
                padding: 0;
            }
        }
    }

    // Add items popup window
    .add-items-content {

        padding: 4em 8em;

        input {
            border-radius: 3em;
            font-size: 14px;
        }

        .form {
            margin-bottom: 15px;
        }

        .item-submit {
            font-size: 30px;
        }

        .error {
            font-size: 12px;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0;
        }
    }

}
