// Colours
$deepBlue: #036B80;
$medBlue: #09B8DB;
$lightBlue: #CEEDF3;
$deepOrange: #F96A4E;
$lightOrange: #FAE0DB;

// Base resets
li {
    list-style: none;
}

// Main things
body {
    margin: 5em 3em;
}

.content {
    display: flex;
}

// Warehouse List
.list {
    margin-right: 2.5em;
    min-width: 75%;
    height: 475px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    ul {
        padding: 0;
        margin: 0;
    }
}

.warehouse-card {
    color: $lightBlue;
    background-color: $deepBlue;
    display: flex;
    border-radius: 4em;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 20px;

    h1, a {
        font-size: 28px;
        margin-right: 20px;
        color: $lightBlue;
    }

    ul {
        display: flex;
        align-items: center;
        padding: 0;
        width: 100%;
        justify-content: right;

        .name-li {
            margin-right: auto;
        }

    }

    .stats {
        li {
            width: 110px;
            margin-right: 25px;
        }

        h2 {
            font-size: 20px;
            margin: 0;
        }

        p {
            font-size: 10px;
            margin: 0;
        }
    }

    .edit-button {
        background-color: $lightBlue;
        border-radius: 50%;
        border: none;
        display: flex;
        align-content: center;
        padding: 10px;

        svg {
            path, rect {
                fill: $deepBlue;
            }
        }

        &:hover {
            background-color: darken($lightBlue, 10%);
        }
    }
}

.add-warehouse, .add-items {
    background-color: $deepOrange;
    color: $lightOrange;
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    border: none;
    border-radius: 4em;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-bottom: 20px;

    img {
        margin-right: 15px;
        width: 35px;
        height: 35px;
    }

    h1 {
        font-size: 28px;
    }

    &:hover {
        background-color: darken($deepOrange, 10%);
    }
}

// Warehouse stats card
.warehouse-stats {
    background-color: $medBlue;
    color: $lightBlue;
    border-radius: 2em;
    width: 100%;
    padding: 2em 1em;

    ul {
        padding: 0;
        margin: 0;

        li {
            display: block;
            text-align: center;
            margin-bottom: 2em;
        }
    }

    a {
        display: flex;
        width: 50px;
        height: 50px;
        background-color: $lightBlue;
        border-radius: 50%;
        margin: 0 auto;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: darken($lightBlue, 10%);
        }

        img {
            width: 30px;
            height: 30px;
            display: inline-block;
        }
    }

    h1 {
        font-size: 100px;
        margin: 0;
    }

    h2 {
        font-size: 60px;
        margin: 0;
    }

    p {
        margin: 0;
        font-size: 20px;
    }

}

// Popup
.modal {
    margin: -5em -3em;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

// Add items popup window
.add-items-content {

    padding: 4em 8em;

    input {
        border-radius: 3em;
        font-size: 14px;
    }

    .form {
        margin-bottom: 15px;
    }

    .item-submit {
        font-size: 30px;
    }

    .error {
        font-size: 12px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0;
    }
}